#wrapper
  .side-menu.shadow 
    .side-menu__page-title
      MENU
    - if current_user == nil
      .side-menu__list.link-hover
        = link_to "ログイン", login_path
      .side-menu__list.link-hover
        = link_to "新規登録", signup_path
      .side-menu__list.link-hover
        = link_to "「買います」募集一覧", items_path
      .side-menu__empty-box
    - else
      .side-menu__list.link-hover
        = link_to "「買います」募集一覧", items_path
      .side-menu__list.link-hover
        = link_to new_item_path do
          %i.fas.fa-bookmark.orange
          「買います」募集を作る
      .side-menu__list.link-hover
        = link_to show_myself_items_path do
          %i.fas.fa-bookmark.orange
          「買います」募集をした商品 - 募集中
      .side-menu__list.link-hover
        = link_to show_close_myself_items_path do
          %i.fas.fa-bookmark.orange
          「買います」募集をした商品 - 売買成立
      .side-menu__list.link-hover
        = link_to '「売ります」をした商品 - 一覧', show_sell_items_path
      .side-menu__list.link-hover
        = link_to show_watch_list_items_path do
          %i.fas.fa-bookmark.yellow
          ウォッチリスト
      .side-menu__empty-box
