#wrapper
  .login-container
    .login-container__title
      新規登録
    .login-container__form
      = form_with model: @user, url: signup_path, data: { remote: false } do |f|
        = render 'layouts/error_messages', model: f.object
        .field
          日記に書くパスワード
          %br/
          .password-box
            = $one_time_ra_password
        .field
          = f.label :url, "パスワードを書いた日記のURL"
          %br/
          = f.text_field :url, autofocus: true
        .field
          = f.label :email
          %br/
          = f.email_field :email, autofocus: true, autocomplete: "email"
        .field
          = f.label :password
          - if @minimum_password_length
            %em
              (#{@minimum_password_length} characters minimum)
          %br/
          = f.password_field :password, autocomplete: "new-password"
        .field
          = f.label :password_confirmation
          %br/
          = f.password_field :password_confirmation, autocomplete: "new-password"

        = f.submit "新規登録する", class: "actions"
        .signup_note 
          (注)なりすまし対策のため、実際にゲームのキャラクターを持っていないと登録出来ない仕組みにしています